# Example variable values (copy to terraform.tfvars)

cloudflare_account_id = "ACCOUNT_ID"
# Resource Tags
tags = {
  application = "APP_NAME"
  created_by  = "terraform"
  environment = "production"
}
